@model IMOD.PreCredenciamentoWeb.Models.AutorizacaoViewModel

@{
    ViewBag.Title = "Autorização";
}
<br />
<br />
<div class="table-wrapper col-sm-12 col-md-12 col-lg-12 col-xs-12">
    <div class="table-title">
        <div class="row">
            <div>
                <h2><b>Autorização Veículos / Equipamentos</b></h2>
            </div>
        </div>
    </div>
    <div class="@ViewBag.ClasseAlerta text-center text">
        <h2><span class="@ViewBag.ClasseIcone"></span>&nbsp;&nbsp;&nbsp;<strong>@ViewBag.ClasseTexto</strong></h2>
    </div>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EmpresaNome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmpresaNome)
            </dd>

            <dt>
            </dt>
            <dd>
                <div>
                    <img src="@Html.DisplayFor(model => model.FotoFormatada)" height="160px" width="190px" class="img-fluid">
                </div>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Marca)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Marca)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Modelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Modelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PlacaIdentificador)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PlacaIdentificador)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Emissao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Emissao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Validade)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Validade)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Frota)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Frota)
            </dd>

            <dt>
                Acessos
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Identificacao1) &nbsp;&nbsp;&nbsp; @Html.DisplayFor(model => model.Identificacao2)
            </dd>
        </dl>
    </div>

</div>
