@model IMOD.PreCredenciamentoWeb.Models.VeiculoViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Veículo</h3>
@using (Html.BeginForm("EditRevisao", "Veiculo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_EditPartial", Model)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Html.Partial("_EditScriptPartial")
    @Html.Partial("_ScriptsPartial")
}
