@model IEnumerable<IMOD.PreCredenciamentoWeb.Models.VeiculoViewModel>

@{
    ViewBag.Title = "Veiculos/Equipamentos";
}
<br />
<h3>Veiculos / Equipamentos</h3>
<p></p>
<p></p>
<div>
    <a href='@Url.Action("Create", "Veiculo")'>        
        @Html.ActionLink("Novo", "Create", "Veiculo", new { @class = "btn btn-primary " })
    </a>

</div>

<div class="col-md-12">
    <br />
    <table class="table table-hover table-responsive table-dark" id="tbVeiculo">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PlacaIdentificador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SerieChassi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Patrimonio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ano)
                </th>                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlacaIdentificador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerieChassi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patrimonio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ano)
                    </td>                   
                    <td class="col-lg-1">
                        <a href='@Url.Action("Edit", "Colaborador", new { id = item.EquipamentoVeiculoId })'>
                            <img src="~/images/edit.png" />
                        </a>
                        |
                        <a href='@Url.Action("Details", "Colaborador", new { id = item.EquipamentoVeiculoId })'>
                            @*<img src="~/images/lupa.png" />*@
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                        |
                        <a href='@Url.Action("Delete", "Colaborador", new { id = item.EquipamentoVeiculoId })'>
                            <img src="~/images/remove.png" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>


