@model IMOD.ValidacaoCredencialWeb.Models.CredencialViewModel
@{
    ViewBag.Title = "Credencial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="table-wrapper col-sm-12">
    <fieldset>
        <div class="table-title">
            <div class="row">
                <div>
                </div>
            </div>
        </div>
        <div style="text-align:center; padding-bottom:15px">
            
                <img src="@Url.Content(ViewBag.Logo)" height="54" width="221">
            
        </div>

        <div class="row col-sm-12" style="text-align:center; padding-bottom:15px">
            <img src="@Html.DisplayFor(model => model.FotoFormatada)" height="130" width="120">

            <div>

                <img style="padding-left:12px; padding-right:5px; padding-bottom:21px; padding-top:10px" src="~/Images/operadorEmbarque.png" @ViewBag.ocultaOperaEmbarque />
                <img style="padding-right:5px" src="~/Images/operadorBagagem.png" @ViewBag.ocultaBagagem />




                <img style="padding-right:5px; padding-bottom: 15px;" src="~/Images/ccam.png" @ViewBag.ocultaCcam />

                <font size="7" color="#0D3C8A"><b style="vertical-align: sub;">@Html.DisplayFor(model => model.CNHCategoria)</b></font>

            </div>
        </div>
        <div class="row" style="padding-left:15px;">
            <b>@Html.DisplayNameFor(model => model.Validade)</b>

            <font size="3">
                <b>
                    @Html.DisplayFor(model => model.ValidadeFormatada)
                </b>
            </font>
        </div>
        <div class="row" style="padding-left:15px;">
            <font size="3">
                <b>
                    @Html.DisplayFor(model => model.ColaboradorNome)
                </b>
            </font>
        </div>
        <div class="row" style="padding-left:15px;">
            <b>@Html.DisplayNameFor(model => model.Cargo)</b>
            @Html.DisplayFor(model => model.Cargo)
        </div>
        <div class="row" style="padding-left:15px;">
            <b>@Html.DisplayNameFor(model => model.EmpresaNome)</b>
            @Html.DisplayFor(model => model.EmpresaNome)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayFor(model => model.TerceirizadaNome)
        </div>
        <div class="row" style="padding-left:15px;">
            <b>@Html.DisplayNameFor(model => model.CrachaCursos)</b>
            @ViewBag.Cursos
        </div>
        <div style="text-align:center" class="row">
            <font size="8" color="#0D3C8A">
                <b>
                    @Html.DisplayFor(model => model.Identificacao1) &nbsp;&nbsp;&nbsp; @Html.DisplayFor(model => model.Identificacao2)
                </b>
            </font>
        </div>

        <div class="@ViewBag.ClasseAlerta text-center text">
            <font size="5" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                <b>
                    <span class="@ViewBag.ClasseIcone"></span>&nbsp;&nbsp;&nbsp;@ViewBag.ClasseTexto
                </b>
            </font>
        </div>
    </fieldset>
</div>
