@model IMOD.ValidacaoCredencialWeb.Models.CredencialViewModel
@{
    ViewBag.Title = "Credencial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="table-wrapper col-sm-12">
    <fieldset>
        <div class="table-title">
            <div class="row">
                <div>
                </div>
            </div>
        </div>



        <div style="text-align:center; padding-bottom:15px">

            <img src="@Url.Content(ViewBag.Logo)" height="54" width="221">

        </div>

        <div class="row" style="padding-bottom:15px">
            <div class="col-xs-5" style="text-align:right;padding-left: 55px;">
                <img src="@Html.DisplayFor(model => model.FotoFormatada)" height="118" width="98">
            </div>
            <div class="col-xs-7" style="padding-top: 12px; padding-left:30px;">
                <div class="col-xs-12">
                    <img style="width:35px; vertical-align:top; padding-left:12px; padding-right:0px; padding-bottom: 10px; padding-top:10px" src="~/Images/operadorEmbarque.png" @ViewBag.ocultaOperaEmbarque/>

                    <img style="width:45px; vertical-align:top; padding-left:9px; padding-right:0px; padding-bottom:10px; padding-top:13px" src="~/Images/operadorBagagem.png" @*@ViewBag.ocultaBagagem*@ />
                </div>
                <div class="col-xs-12">

                    <img style="width:35px; text-align:left; vertical-align:bottom; padding-left:15px; padding-right:0px; padding-bottom: 15px;" src="~/Images/ccam.png" @ViewBag.ocultaCcam />


                    <font style="vertical-align: super; padding-left:18px; padding-right:8px;" size="6" color="#0D3C8A"><b style="vertical-align: top;">@*@Html.DisplayFor(model => model.CNHCategoria)*@</b></font>
                </div>
            </div>
        </div>
        <div class="row" style="padding-left:15px;">
            <b>@Html.DisplayNameFor(model => model.Validade)</b>

            <font size="3">
                <b>
                    @Html.DisplayFor(model => model.ValidadeFormatada)
                </b>
            </font>
        </div>
        <div class="row" style="padding-left:15px;">
            <font size="3">
                <b>
                    @Html.DisplayFor(model => model.ColaboradorNome)
                </b>
            </font>
        </div>
        <div class="row" style="padding-left:15px;">
            <b>@Html.DisplayNameFor(model => model.Cargo)</b>
            @Html.DisplayFor(model => model.Cargo)
        </div>
        <div class="row" style="padding-left:15px;">
            <b>@Html.DisplayNameFor(model => model.EmpresaNome)</b>
            @Html.DisplayFor(model => model.EmpresaNome)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayFor(model => model.TerceirizadaNome)
        </div>
        <div class="row" style="padding-left:15px;">
            <b>@Html.DisplayNameFor(model => model.CrachaCursos)</b>
            @ViewBag.Cursos
        </div>
        <div style="text-align:center" class="row">
            <font size="8" color="#0D3C8A">
                <b>
                    @Html.DisplayFor(model => model.Identificacao1) &nbsp;&nbsp;&nbsp; @Html.DisplayFor(model => model.Identificacao2)
                </b>
            </font>
        </div>

        <div class="@ViewBag.ClasseAlerta text-center text">
            <font size="5" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                <b>
                    <span class="@ViewBag.ClasseIcone"></span>&nbsp;&nbsp;&nbsp;@ViewBag.ClasseTexto
                </b>
            </font>
        </div>
    </fieldset>
</div>
