@using DSBR.ServicesWeb.Domain
@using DSBR.ServicesWeb.Infra.Helpers
@model IEnumerable<DadosLicenca>
@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading" style="font-family: 'Francois One', sans-serif;">
                Licenças
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>LicenciadoPara</th>
                                <th>HardwareInfo</th>
                                <th>Dat.Expira</th>
                                <th>Cnpj</th>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                if (Model != null)
                                {

                                    foreach (var item in Model)
                                    {
                                        <tr class="odd gradeX">
                                            <td>@item.IdLicenca</td>
                                            <td>@item.LicenciadoPara</td>
                                            <td>@item.HardwareInfo</td>
                                            <td class="center">@item.DataExpira.ToShortDateString()</td>
                                            <td>@item.Cnpj</td>
                                            <td class="center">
                                                @*Link com Ajax*@

                                                @Ajax.ActionLink("Visualizar", "Visualizar", "Licenca",
                                                    new { idLicenca = @item.IdLicenca }
                                                    ,
                                                    new AjaxOptions()
                                                    {

                                                        HttpMethod = "GET",
                                                        UpdateTargetId = "dialog-modal",
                                                        InsertionMode = InsertionMode.Replace,
                                                        OnSuccess = "onShowModal('modal-page')"
                                                    }, new { @class = "btn btn-success btn-xs" })

                                                @Html.ActionLink("Download", "Download", "Licenca", new { idLicenca = @item.IdLicenca }, new { @class = "btn btn-default btn-xs" })

                                            </td>
                                        </tr>
                                    }
                                }
                            }

                        </tbody>

                    </table>
                </div>

            </div>
            <div id="dialog-modal"></div>

            <!-- /.panel-body -->
        </div>

        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->

</div>
