<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Grupo Estrela Eletrônicos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Francois+One" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <!-- DataTables CSS -->
    <link href="@Url.Content("~/browser_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css"/>
    <!-- DataTables Responsive CSS -->
    <link href="@Url.Content("~/browser_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css"/>

    <link href="@Url.Content("~/browser_components/morrisjs/morris.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/browser_components/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css"/>

    <!-- jQuery -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/browser_components/jquery/dist/jquery.min.js")"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="@Url.Content("~/browser_components/metisMenu/dist/metisMenu.min.js")"></script>
    <script src="~/Scripts/locales/bootstrap-datepicker.pt-BR.min.js"></script>*@
</head>
<body>
 
    <!-- Navigation -->
    @*@Html.Action("Index", "Navbar")*@

    @*<div id="page-wrapper">*@
        <p></p>
        @RenderBody()
    @*</div>*@
    <!-- /#page-wrapper -->
 
<!-- /#wrapper -->
<!-- DataTables JavaScript -->
@*<script src="@Url.Content("~/browser_components/raphael/raphael-min.js")"></script>*@

<!-- DataTables JavaScript -->
@*<script src="@Url.Content("~/browser_components/datatables/media/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/browser_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>*@

<!-- Custom Theme JavaScript -->
<script src="@Url.Content("~/Scripts/sb-admin-2.js")"></script>
<script src="@Url.Content("~/Scripts/utils.js")"></script>

@*<script src="@Url.Content("~/browser_components/flot/excanvas.min.js")"></script>
<script src="@Url.Content("~/browser_components/flot/jquery.flot.js")"></script>
<script src="@Url.Content("~/browser_components/flot/jquery.flot.pie.js")"></script>
<script src="@Url.Content("~/browser_components/flot/jquery.flot.resize.js")"></script>
<script src="@Url.Content("~/browser_components/flot/jquery.flot.time.js")"></script>
<script src="@Url.Content("~/browser_components/flot.tooltip/js/jquery.flot.tooltip.min.js")"></script>
<script src="@Url.Content("~/browser_components/morrisjs/morris.min.js")"></script>*@

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
 
@RenderSection("scripts", required: false)
</body>
</html>

