@model IEnumerable<IMOD.Domain.Entities.Colaborador>

@{
    ViewBag.Title = "Colaborador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Colaborador</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apelido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomePai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeMae)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RgEmissao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RgOrgLocal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RgOrgUf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passaporte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassaporteValidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefoneFixo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefoneCelular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContatoEmergencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefoneEmergencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complemento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MunicipioId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motorista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CnhCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CnhValidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CnhEmissor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cnhuf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEmissao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataValidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoAcessoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pendente21)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pendente22)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pendente23)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pendente24)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pendente25)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estrangeiro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Policiafederal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Receitafederal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segurancatrabalho)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apelido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomePai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeMae)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nacionalidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Foto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCivil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RgEmissao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RgOrgLocal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RgOrgUf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Passaporte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassaporteValidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneFixo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneCelular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContatoEmergencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneEmergencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complemento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MunicipioId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motorista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CnhCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CnhValidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CnhEmissor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cnhuf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEmissao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataValidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAcessoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pendente21)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pendente22)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pendente23)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pendente24)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pendente25)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estrangeiro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Policiafederal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Receitafederal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Segurancatrabalho)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ColaboradorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ColaboradorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ColaboradorId })
        </td>
    </tr>
}

</table>
